 body{
        margin:0;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: #40514E;
        
    }
    
    
div{ 
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.top-container{
    margin-top:0px; 
    position:relative;
    padding-top:100px;
    background-color: #CFF5E7;
    
}

.middle-container{
    padding:100px;
    
   
    
}

.bottom-container{
    background-color: #66bfbf;   
    padding: 50px 0 20px; 
   
}
  
a{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;

}
a:hover{
    color:#eaf6f6
}
 

    h1{
        font-size:5.625rem;
        margin-top:50px;
        margin-bottom: 0;
        font-family: 'Sacramento',cursive;
        color: #66BFBF;
               
    }

    h2{
        font-family: 'Montserrat', sans-serif;
        color: #66BFBF;
        font-size: 2.5rem;
        margin-top: 0;
        font-weight:normal;
    }

    h3{
        font-family: 'Montserrat', sans-serif;
        color:#11999E;
       
    }

    p{
        margin:0;
        line-height: 2;
    }
    
    .pro{
        text-decoration: underline;
    }

    .intro{
        width:30%;
        margin:auto;
    }

    .top-cloud{
        position:absolute;
         right:300px;
         top:50px;
        
    }

    .bottom-cloud{
        position:absolute;
       left:300px;
       bottom:300px;
        
    }

    .profile img{
        height:9.375rem;
    }

    .skill-row{
        display:inline-block;
        position: center;
        width:50%;
        margin:100px auto 100px auto;
        text-align: left;
    
    }

    
    .p-contact{
        width:30%;
        margin:40px auto 60px;
    }

    .development{
        width:25%;
        float:left;
        margin-right: 30px;
    }

    .calisthenics{
        width:25%;
        float:right;
        margin-left: 30px;
    }

    hr{
        border-style: dotted none none ;
        border-width: 0.5rem;
        width:5%;
        border-color: #eaf6f6;
        margin:100px auto;
    }
 
    .btn {
        text-decoration: none;
        font-family:"Montserrat";
        color: #FFFFFF ;
        font-size: 20px;
        text-shadow: 1px 1px 0px #7CACDE;
        box-shadow: 1px 1px 1px #BEE2F9;
        padding: 8px 18px;
        border-radius: 20px;
        background: #11CDD4;
        background: linear-gradient(to top, #11CDD4, #11999E);
      }
      .btn:hover {
        color: #ffffff;
        background: #30E3CB;
        background: linear-gradient(to top, #30E3CB, #2BC4AD);
      }
      
      .bottom-container p{
        margin:20px auto 10px;
      }

      .copyright{
        color:#eaf6f6;
        font-size: 0.75rem;
      }